@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.header_section ul li {
  @apply px-2;
}
.bg-secondary {
  background: rgb(118, 19, 211);
}
.mobile-nav {
  @apply fixed top-11 mt-7 left-0 bg-violet-600 w-full h-1/2 text-2xl z-10;
}
.mobile-nav li {
  @apply w-full text-center border-b-4 h-full py-2.5;
}
.bg_change {
  position: relative; 
  background-image: url("./assets/cnct.jpg");
  background-size: cover;
  opacity:1;
}
.circle-skill {
  @apply  p-8  hover:bg-indigo-300;
}
.round-style {
  border-radius: 30%;
  box-shadow: 0px 40px 25px black;
}

.profile-info .animated-info {
  opacity: 0; 
  animation: boy_img 1s forwards; 
}
.profile-image {
  position: relative;
}
.project .project_1{
  animation: right_move 1s forwards; 
} 
.project .project_2{
  animation: left_move 1s forwards; 
}
.project .project_3{
  animation: right_move 1s forwards; 
} 
.profile-image  .boy-img{
  animation: boy_img 1s forwards; 
}
.skills .left_slide{
  animation: left_move 0.5s forwards; 
 
}
.skills .right_slide{
  animation: right_move 1s forwards; 
 }
.contact{
  animation: contact_animation 1s forwards; 
}

@media screen and (max-width: 500px) {
  .mobile-nav {
    @apply fixed top-11 left-[13px]  mt-10 text-start bg-violet-600 w-[350px]  text-xl z-10;
  }
  .mobile-nav li {
    @apply w-[350px] text-center   ;
  }

}
@keyframes boy_img {
  from {
    opacity: 0;
    transform: scale(1,2);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes left_move {
  from {
    opacity: 0;
    transform: translateX(-300px);

  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes right_move {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes contact_animation {
  from {
    opacity: 0;
    transform: rotateX(100deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}



